.logo {
    width: 200px;

}

.main-header {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: 100%;
}

.menu ul {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin: 0 0 0 auto;
    list-style: none;
}

.menu {
    margin-left: auto;
}

.menu li {
    margin: 0 .5em;
}

footer {
    background: #333333;
    color:  #ddd;
    padding: 1em;
    margin-top: 3em;
    text-align: center;

}

footer a {
    color: #fff;
}

.siguenos a{
    display: inline-block;
    margin: 0 .5em;
    font-size: .9em;
}