-pages = ['inicio', 'nosotros', 'servicios', 'portafolio', 'contacto']
-pageTitle = 'Inicio'
-siteTitle = 'Fotografía Maldonado'
-descriptions = 'Fotografía para eventos públicos y familiares'
-currentPage = 'inicio'
-siguenos = true