extends templates/template.pug

append config
    -siguenos = false
block main

    h1 Bienvenidos
    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore quod quis nihil ipsum voluptate doloribus vel esse numquam? Asperiores nam modi nulla nemo, alias fuga inventore voluptatibus? Rerum, incidunt aliquam!

block footer
        include blocks/siguenos.pug 