extends templates/template.pug 

append config 
    -pageTitle = 'Nosotros'
    -description = 'Sobre nuestro trabajo'
    -currentPage = 'nosotros'

block main

    h1 Bienvenidos
    :markdown-it
        Lorem ipsum dolor, **sit amet** consectetur adipisicing elit. _Labore_ quod quis nihil ipsum voluptate doloribus vel esse numquam? Asperiores nam modi nulla nemo, alias fuga inventore voluptatibus? Rerum, incidunt aliquam!

